@import "tailwindcss";

:root {
  --c-black: #000000;
  --c-white: #ffffff;
  --c-cream: #f5f2eb;
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--c-black);
  color: var(--c-white);
  overflow: hidden;
  height: 100dvh;
  font-family: "Inter", sans-serif;
}

canvas {
  touch-action: none;
}
